:root {
    --blue: rgb(13, 110, 253);
    --dark-blue: rgb(12,79,178);
    --gray: rgb(222,220,223);
    font-family: 'Public Sans', sans-serif;
}

::placeholder {
    color: black;
    font-weight: 900;
}

.btn {
    -moz-border-radius: 5px;
    background-color: var(--blue);
    border: 3px solid var(--blue);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    margin: 20px auto;    
    width: 80%;
}

.btn:hover {
    background-color: var(--dark-blue);
    border: 3px solid var(--dark-blue);
    cursor: pointer;
}

.flex-container {   
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    column-gap: 10px;
    display: flex;
    flex-flow: column wrap;
    margin: 5vh auto;    
    row-gap: 10px;
    width: 30%;
}

    .flex-container a {
        color: var(--blue);
        font-size: 12px;
        margin: 0 auto;
        text-decoration: none;
    }

.flex-container a:hover {
    cursor: pointer;
}

.flex-container a:visited {
   color: var(--blue);
}

.flex-container p {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.flex-error-box {
    color: red;
    font-size: 13px;
    margin: 20px auto;
    width: 80%;
}

.flex-title {
    background-color: var(--blue);
    border-radius: 20px 20px 0 0;   
    color: white;
    margin-bottom: 20px;
    height: 20vh;
}

    .flex-title h1 {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.text-box {
    background-color: var(--gray);
    border: 0 solid var(--gray);
    border-radius: 20px;
    height: 35px;
    margin: 1px auto;
    padding-left: 10px;
    width: 80%;
}